@media (max-width:768px){
#nav-bar {
  display: flex;
  flex-direction: column; 
  align-items: center;
 

} 

#who{display: block;}
  #who.who-img{display: none;}

 #nav-bar ul li{
  list-style: none;
  text-decoration: none;
  margin:auto;
  padding: 0.9rem 0.5rem;
  text-align: center;
  justify-items: center;
  margin-top: 10px;
  
}

#what{display: flex;
flex-direction: column;}
#what .what-content{
  display: block;
}

}
  