
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*utility classes*/

body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  line-height:1.4rem
  
}
.container{
  height:50vh;
  margin: auto;
  max-width: 1400px;
  overflow: hidden;
  width:100vw;

}

.l-heading{
  font-size: 3rem;
  margin-bottom:1rem;
  
}

.bg-light{
  color: #333;
  background-color: rgb(248, 244, 244);
}
.bg-dark{background-color: #333;
color: #fff;}
.py-1{padding: 0 1.5rem;}
.m-heading{
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
}
a{text-decoration: none;
color: white;}

.btn{
  padding: 0.75rem;
  margin-top:1.2rem;
  color: white;
  background: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;}
  

  
  
.btn:hover{
  background: lightgreen;
  
}
.formwrap .btn{
  padding: 0.75rem;
  margin-top:1.2rem;
  color: #333;
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;}


 
  

.py-1{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2{
  padding: 2rem 0;
}

.text-primary{
  color: lightgreen;
}
#nav-bar{
  display: flex;
position: sticky;
  color: aliceblue;
  background: #333;
  padding: 1rem;
top: 0px;
left: 0px;
bottom: 0px;
justify-content: space-between;
z-index: 1;
opacity: 0.9;

}
 

#nav-bar ul{
 display: flex;
 align-items: center;
 padding: auto;
 
}

#nav-bar ul li a{
  padding: 0.75rem;
  margin: 0rem 0.25rem;
}
#nav-bar ul li{
  list-style: none;
  text-decoration: none;
  margin:auto;
  padding: 0 2rem;
  text-align: center;
  justify-items: center;
}
 
#nav-bar a:hover{
  background-color: lightgreen;
border-radius: 5px;

}
#nav-bar .logo a:hover{
  background-color: #333;
}
#showcase{
  position: relative;
  background: url('./img/showcase.jpg') #333 center center/cover no-repeat;
 height: 100vh;
 
}
#showcase .showcase-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 0 2rem;
  position: absolute;
 top: 0;
 left: 0;
 
 background-color: rgba(0, 0, 0, 0.4);

}
#what{display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50vh;
 width: 100%;
 
}
#what i{
  background-color: lightgreen;
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  
  
 
}
.what-content{
  display:flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;


}
#what .what-content .item1, .item2, .item3{
  padding:1rem;
  text-align: center;
}
#who{display:flex;
  height: 100vh;
  
}


#who div{
  flex: 1;
 
}
.who-img{
  flex:1;
  background: url('./img/people.jpg') center center/cover no-repeat;
}
#who .who-text{
  padding-top: 70px;
  padding-left: 2rem;
 
}
#contact .form-wrap{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding:70px 65px 65px 20px
  
}

#contact .form-group{
  display: flex;
  flex-direction: column;
}

input{
  padding: 0.75rem;
  border-radius: 5px;
}
textarea{
  border-radius: 5px;
}

#clients .contain .items{
  display: flex;
}
#clients .contain .items img{
  width: 60%;
}
#clients .contain h2{
text-align: center;
}
